<div class="modal-body">
      ARE YOU SURE!!  
      <br><br>
      <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-danger"{{on "click" this.delete}} data-dismiss="modal">Delete</button>
        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-danger" data-dismiss="modal" {{on "click" this.toggling}}>Cancel</button>
        </div>
      </div>
</div>