<div class="row">
    <div class="col-md-9"><h3>Books List:</h3></div>
    <div class="col-md-3"><button role="button" class="btn btn-primary" type="button">Add Book</button></div>
</div>
<br><br>
<BooksTable  @book={{@model}} />
